*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 0 auto;
    width: 70%;
}
.main-conatiner{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
img{
    width: fit-content;
    width: 100%;
    object-fit: cover;
}
.content{
    display: grid;
    grid-template-columns: 5% 40% 70%;
    gap: 2rem;
}
.img-container img{
    width: 100%;
    border-radius: 0.5rem;
}
.content{
    margin-top: 3rem;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about{
    display: flex;
    flex-direction: column;
}
.icon{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card{
    background-color: rgb(109, 110, 110);
    height: 1.5rem;
    border-radius: 00.5rem;
    
}
.progress{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1/rem; */
    align-items: center;
    margin-top: 3rem;
}